<div class="content">
  <div class="sticky">
    <h1>Angular CMS</h1>
    <div>
      <ul>
        <div>
          <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/Articles" routerLinkActive="active">Articles</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/Credits" routerLinkActive="active">Credits</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
