
.container{
  min-height: 100vh;
}

form{
  background-color: var(--secondary-color);
  padding: 20px;
}

.btn-primary{
  background-color: var(--primary-color) !important;
  border: none;
}

.btn-primary:active{
  background-color: #a5164f !important ;
}
